@page "/search"
@inject IHouseService houseService

<div class="container-fluid header bg-white mt-1 p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
        <div class="col-md-6 p-5 mt-lg-5">
            <h1 class="display-5 animated fadeIn mb-4">
                Find A <span class="text-primary">Perfect Home</span> To Live With
                Your Family
            </h1>
            <p class="animated fadeIn mb-4 pb-2">
                Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no.
                Kasd rebum ipsum et diam justo clita et kasd rebum sea elitr.
            </p>
            <a href="" class="btn btn-primary py-3 px-5 me-3 animated fadeIn">Get Started</a>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary mb-5 wow fadeIn"
     data-wow-delay="0.1s"
     style="padding: 35px">
    <div class="container">

        <EditForm Model="searchDTO" OnValidSubmit="OnHandleSearchSubmit" >
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <InputText @bind-Value="searchDTO.Keyword"
                                   class="form-control border-0 py-3"
                                   placeholder="Search Keyword" />
                        </div>
                        <div class="col-md-4">
                            <InputSelect @bind-Value="searchDTO.PropertyTypeId" class="form-select border-0 py-3">
                                <option selected>Property Type</option>
                                @foreach (var type in getProperties)
                                {
                                    <option value="@type.Id">@type.PropertyName</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-md-4">
                            <InputText @bind-Value="searchDTO.Location"
                                       class="form-control border-0 py-3"
                                       placeholder="Location" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-dark border-0 w-100 py-3" >Search</button>
                </div>
            </div>
        </EditForm>
        
    </div>
</div>


@code{

    List<GetPropertyTypeDTO> getProperties = new();
    private SearchDTO searchDTO = new();

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    private async Task GetData()
    {
        getProperties = await houseService.GetPropertyTypeList();
    }

    private async Task OnHandleSearchSubmit()
    {
        
    }

}